<div class="container">
  <div class="titulo">
    <h3>Faça a viagem dos sonhos</h3>
    <p>Use milhas</p>
  </div>
  <div class="containerDivs">
    <div class="borda">
      <form [formGroup]="myForm">
        <div>
          <label id="paisOrigem">
            País de origem
            <select
              formControlName="paisOrigem"
              name="paisOrigem"
              (ngModelChange)="origem($event)"
            >
              <option *ngFor="let c of countries" [ngValue]="c.country">
                {{ c.country }}
              </option>
            </select>
          </label>
        </div>
        <div>
          <label id="cidadeOrigem">
            Cidade de origem
            <select
              formControlName="cidadeOrigem"
              name="cidadeOrigem"
              (ngModelChange)="setValuesOrigem($event)"
            >
              <option *ngFor="let c of cidadesOrigem" [ngValue]="c.city">
                {{ c.city }}
              </option>
            </select>
          </label>
        </div>
        <div>
          <label id="paisDestino">
            País de destino
            <select
              formControlName="paisDestino"
              name="paisDestino"
              (ngModelChange)="destino($event)"
            >
              <option *ngFor="let c of countries" [ngValue]="c.country">
                {{ c.country }}
              </option>
            </select>
          </label>
        </div>

        <div>
          <label id="cidadeDestino">
            Cidade de destino
            <select
              formControlName="cidadeDestino"
              name="cidadeDestino"
              (ngModelChange)="setValuesDestino($event)"
            >
              <option *ngFor="let c of cidadesDestino" [ngValue]="c.city">
                {{ c.city }}
              </option>
            </select>
          </label>
        </div>

        <div>
          <span>Adultos</span>
          <div>
            <button
              (click)="subtrairValor('adultos')"
              [disabled]="adultos === 0"
            >
              -
            </button>
            <input
              type="text"
              formControlName="adultos"
              [disabled]="adultos < 0"
            />
            <button
              (click)="adicionarValor('adultos')"
              [disabled]="adultos < 0"
            >
              +
            </button>
          </div>

          <span>Crianças</span>
          <div>
            <button
              (click)="subtrairValor('criancas')"
              [disabled]="adultos === 0"
            >
              -
            </button>
            <input type="text" formControlName="criancas" />

            <button (click)="adicionarValor('criancas')">+</button>
          </div>
        </div>

        <div>
          <input
            type="radio"
            id="economica"
            name="classe"
            formControlName="classe"
            value="Econômica"
          />
          <label for="economica">Econômica</label>

          <input
            type="radio"
            id="executiva"
            name="classe"
            formControlName="classe"
            value="Executiva"
          />
          <label for="executiva">Executiva</label>
        </div>
        <div>
          <label for="milhas">
            <input
              type="range"
              id="milhas"
              min="0"
              max="50000"
              step="1"
              formControlName="milhas"
              (ngModelChange)="(range)"
            />
          </label>
        </div>
      </form>
    </div>
    <div class="borda">
      <h5>Resumo da viagem</h5>
      <p>
        Origem: {{ myForm.get("paisOrigem")?.value }}({{
          myForm.get("cidadeOrigem")?.value
        }})
      </p>
      <p>
        Destino: {{ myForm.get("paisDestino")?.value }}({{
          myForm.get("cidadeDestino")?.value
        }})
      </p>

      <div *ngIf="myForm.errors?.['errorCitiesOriginDestiny']" class="red">
        A cidade de destino deve ser diferente que a origem.
      </div>

      <p>Distância: {{ distanciaViagem }}</p>
      <p>
        Adultos: {{ myForm.get("adultos")?.value }}, Crianças:
        {{ myForm.get("criancas")?.value }}
      </p>

      <div *ngIf="myForm.errors?.['errorMinAdults']" class="red">
        Deve ter no mínimo 1 adulto.
      </div>

      <p>Tipo de voo: {{ myForm.get("classe")?.value }}</p>

      <p>{{ valorAdulto }} por adulto</p>

      <p *ngIf="criancas > 0 && totalViagem > 0">
        {{ valorCrianca }} por criança
      </p>

      <p>Milhas: {{ myForm.get("milhas")?.value }}</p>
      <p>Valor abatido por milhas: {{ valorAbatidoMilhas }}</p>
      <p>Total: {{ totalViagem }}</p>
    </div>
  </div>
</div>
